
html, body, div, span, object, embed, ruby, output, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	-o-box-sizing : border-box;
	box-sizing : border-box;
}

html{
	font-size: 62.5%;
	overflow-y: scroll;
}

/* html 5 reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{
	display: block;
}

/* ul & li resets */
ol, ul{
	list-style: none;
}

/* blockquote reset */
blockquote, q{
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after{
	content: '';
	content: none;
}

/* link style resets */
a{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

a:hover,
a:active{
	outline: none;
}

/* table resets */
table{
	border-collapse: collapse;
	border-spacing: 0;
}

td,
td img{
	vertical-align: top;
}

/* type & header styles */
body{
	font-size: 16px; /* for ie8 & below */
	font-size: 1.6rem;
	line-height: 1.6;
	font-family: "Noto Sans", Tahoma, Geneva, sans-serif;
}

select,
input,
textarea,
button{
	font: 99% sans-serif;
	border-radius: 0;
}
	select{
		max-width: 100%;
	}

	input[type=search]{
	  -webkit-appearance: none;
	}

body,
select,
input,
textarea{
	color: #222;
}

small,
.small{
	font-size: 12px; /* for ie8 & below */
	font-size: 1.2rem;
	letter-spacing: 2px; /* for ie8 & below */
	letter-spacing: 0.2rem;
	font-style: italic;
	line-height: 26px;
	line-height: 2.6rem;
}

strong,
th,
.strong{
	font-weight: bold;
}

em,
.em{
	font-style: italic;
}

ins,
.ins{
	color: #000;
	text-decoration: underline;
}

mark,
.mark{
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del,
.del{
	text-decoration: line-through;
}

abbr[title],
dfn[title]{
	border-bottom: 1px dotted;
	cursor:help;
}

sub{
	vertical-align: sub;
	font-size: smaller;
}

sup{
	vertical-align: super;
	font-size: smaller;
}

/* code & pre box resets */
pre{
	padding: 15px;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word;
}

/* form & input resets */
pre,
code,
kbd,
samp{
	font-family: monospace, sans-serif;
	margin: 24px; /* for ie8 & below */
	margin: 2.4rem;
}

input,
select{
	vertical-align:middle;
}

textarea{
	overflow: auto;
}

.ie6 legend,
.ie7 legend{
	margin-left: -7px;
}

input[type="radio"]{
	vertical-align: text-bottom;
}

input[type="checkbox"]{
	vertical-align: bottom;
}

.ie7 input[type="checkbox"]{
	vertical-align: baseline;
}

.ie6 input{
	vertical-align: text-bottom;
}

label,
input[type=button],
input[type=submit],
button{
	cursor: pointer;
}

button,
input,
select,
textarea{
	margin: 0;
}



button{
	width: auto;
	overflow: visible;
}

/* image resets */
.ie7 img,
.irem7 img{
	-ms-interpolation-mode: bicubic;
}

/* hidden elements */
.hidden{
	display: none;
	visibility: hidden;
}

.visuallyhidden{
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

/* added from 320&Up Project */

input,
textarea{
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	-o-box-sizing : border-box;
	box-sizing : border-box;
}

/* clearfixes */
.clearfix:after,
.menu ul:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/******************************************************************
COMMON & REUSABLE STYLES
******************************************************************/

/* floats */
.left{
	float: left;
}

.right{
	float: right;
}

/* text alignment */
.text-left{
	text-align: left;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

/* highlighting search term on search page */
mark,
.search-term{
	background: #EBE16F;
}

/* alerts & notices */
.help,
.info,
.error,
.success{
	margin: 10px;
	padding: 10px;
	border: 1px solid #cecece;
}

.help{
	border-color: #E0C618;
	background: #EBE16F;
}

.info{
	border-color: #92cae4;
	background: #d5edf8;
}

.error{
	border-color: #fbc2c4;
	background: #fbe3e4;
}

.success{
	border-color: #c6d880;
	background: #e6efc2;
}

/******************************************************************
GENERAL STYLES
******************************************************************/

body{
	-webkit-text-size-adjust : 100%; /* font size on apple devices */
	-ms-text-size-adjust : 100%;  /* font size on windows devices */
}

/* gestion des mots longs */

textarea,
table,
td,
th,
code,
pre,
samp {
    -webkit-hyphens: auto; /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word; /* passage à la ligne forcé */
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a{
	text-decoration: none;
}

h1, .h1{
	font-size: 35px; /* for ie8 & below */
	font-size: 3.5rem;
	line-height: 32px; /* for ie8 & below */
	line-height: 3.2rem;
}

h2, .h2{
	font-size: 24px; /* for ie8 & below */
	font-size: 2.4rem;
	line-height: 30px; /* for ie8 & below */
	line-height: 3.0rem;
}

h3, .h3{
	font-size: 19px; /* for ie8 & below */
	font-size: 1.9rem;
	line-height: 24px; /* for ie8 & below */
	line-height: 2.4rem;
}

h4, .h4{
	font-size: 16px; /* for ie8 & below */
	font-size: 1.6rem;
	line-height: 18px; /* for ie8 & below */
	line-height: 1.8rem;
}

h5, .h5{
	font-size: 12px; /* for ie8 & below */
	font-size: 1.2rem;
	line-height: 40px; /* for ie8 & below */
	line-height: 4.0rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

html, body{
	height: 100%;
}

.col10{
    width: 10%;
}

.col20{
    width: 20%;
}

.col30{
    width: 30%;
}

.col40{
    width: 40%;
}

.width100{
    width:100%;
}

.main-space{
    width: 100%;   
    text-align:center;
    overflow: hidden;
    padding: 10px;
}

#table-people{
    width: 100%;
    text-align:center;
}


@media screen 
  and (max-width: 480px) {
  
    input,button,p{
        font-size: 7vw;
    }

    h2,h1{
        font-size: 40px;
        text-align:center;
    }
}
